:root {
    --animation-fade-time: 400ms;
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: opensans-medium, sans-serif;
    font-size: 24px;
    position: fixed;
    top: 450px;
    left: 4%;
    width: 12em;
    padding: 20px;
    background-color: #f3f3f3;
    border: 3px solid #000000;
    border-radius: 12px;
    box-shadow: 6px 6px 0 rgba(00, 00, 00, 100);
    animation: fade-in-animation var(--animation-fade-time) ease;
}

.popup-confirm-button {
    font-family: corbel-bold, sans-serif;
    font-size: 22px;
    color: #ffffff;
    background-color: #cb5555;
    border: 2px solid #000000;
    border-radius: 18px;
    box-shadow: 4px 4px 0 rgba(00, 00, 00, 100);
    width: auto;
    height: 1.9em;
    z-index: 100;
    padding: 0 15px;
    margin: 20px 0 10px 0;
    transition: all 150ms ease;
}

.popup-confirm-button:hover {
    background-color: #b43a3a;
    cursor: pointer;
}

@keyframes fade-in-animation {
    from {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-150px);
    }

    to {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
}

@keyframes fade-out-animation {
    from {
        opacity: 1;
        filter: blur(0);
    }
    to {
        opacity: 0;
        filter: blur(5px);
    }
}

.fade-out {
    animation: fade-out-animation var(--animation-fade-time) ease;
}

