:root {
    --card-width: 180px;
    --card-height: 100px;
    --part1-width: calc(3 * var(--card-width) + 40px);
    --part1-height: calc(2 * var(--card-height) + 20px);

    --input-box-glow: #d03101;
    --input-box-shadow: 0 0 10px var(--input-box-glow);
    --input-box-border : var(--input-box-glow);
}

#control-panel-container {
    font-family: corbel, sans-serif;
    position: relative;
    display: flex;
    background-color: transparent;
    border-radius: 7px;
    margin-top: 35px;
    width: 1000px;
    height: calc(var(--part1-height) + 44px);
}

#control-panel-container-2 {
    font-family: corbel, sans-serif;
    position: relative;
    display: flex;
    background-color: transparent;
    border-radius: 7px;
    margin-top: 35px;
    width: 1000px;
    height: calc(var(--part1-height) + 44px);
}

.control-panel {
    position: absolute;
    padding: 10px 0;
    background-color: #f4f4f4;
    border: 4px solid #a6a6a6;
    border-radius: 26px;
}

#control-buttons {
    top: 22px;
    width: var(--part1-width);
    height: var(--part1-height);
}

.cards {
    position: absolute;
    width: var(--card-width);
    height: var(--card-height);
    border-radius: 12px;
    /*background-color: #2e567a;*/
}


.cards:nth-child(1) {
    top: calc(var(--card-height) / 2 + 10px);
}

.cards:nth-child(2) {
    left: calc(2 * var(--card-width) + 40px);
    top: calc(var(--card-height) / 2 + 10px);
}

.cards:nth-child(3) {
    left: calc(var(--card-width) + 20px);
}

.cards:nth-child(4) {
    left: calc(var(--card-width) + 20px);
    top: calc(var(--card-height) + 20px);
}


.functions {
    position: absolute;
    width: 160px;
    height: 50px;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 12px;
    border: 3px solid black;
    background-color: white;
}

.functions p {
    font-family: opensans-medium, sans-serif;
    font-size: 16px;
}

.function-input-field {
    font-family: corbel, sans-serif;
    width: 36px;
    text-align: center;
    border-radius: 8px;
    border: 2px none #000000;
    border-left-style: solid;
    border-right-style: solid;
    transition: all 200ms ease;
}

.function-input-field.animate {
    animation: input-animation 20000ms ease;
}

@keyframes input-animation {
    from {
        box-shadow: 0 0 0 rgba(31, 112, 242, 0);
        border-color: #000000;
    }

    8% {
        box-shadow: var(--input-box-shadow);
        border-color: var(--input-box-border);
    }

    16% {
        box-shadow: 0 0 0 rgba(31, 112, 242, 0);
        border-color: #000000;
    }

    25% {
        box-shadow: var(--input-box-shadow);
        border-color: var(--input-box-border);
    }

    33% {
        box-shadow: 0 0 0 rgba(31, 112, 242, 0);
        border-color: #000000;
    }

    41% {
        box-shadow: var(--input-box-shadow);
        border-color: var(--input-box-border);
    }

    50% {
        box-shadow: 0 0 0 rgba(31, 112, 242, 0);
        border-color: #000000;
    }

    56% {
        box-shadow: var(--input-box-shadow);
        border-color: var(--input-box-border);
    }

    67% {
        box-shadow: 0 0 0 rgba(31, 112, 242, 0);
        border-color: #000000;
    }

    74% {
        box-shadow: var(--input-box-shadow);
        border-color: var(--input-box-border);
    }

    83% {
        box-shadow: 0 0 0 rgba(31, 112, 242, 0);
        border-color: #000000;
    }

    92% {
        box-shadow: var(--input-box-shadow);
        border-color: var(--input-box-border);
    }

    to {
        box-shadow: 0 0 0 rgba(31, 112, 242, 0);
        border-color: #000000;
    }
}


.function-var-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 18px;
    text-align: center;
    border: 2px none #000000;
    border-radius: 8px;
    border-left-style: solid;
    border-right-style: solid;
}

.function-var-field p {
    font-family: corbel, sans-serif;
    font-size: 12px;
    margin: 0 5px;
}

.run-button {
    font-family: corbel-bold, sans-serif;
    font-size: 17px;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 12px);
    background-color: #3fab53;
    width: 49px;
    height: 34px;
    border: 2px solid #000000;
    box-shadow: 3px 3px 0 rgba(00, 00, 00, 100%);
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    transition: color 250ms ease,
    background-color 225ms ease;
}

.run-button:hover {
    color: #ffffff;
    background-color: #75cc84;
}

.run-button:active {
    background-color: #419651;
}

#variable-container {
    font-family: opensans-semibold, serif;
    font-size: 24px;
    right: 640px;
    top: 40px;
    width: 33%;
    height: 180px;
    background-color: #f4f4f4;
    border: 4px solid #a6a6a6;
    border-radius: 26px;
    padding: 8px;
}

#variable-value-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -0.5em;
    margin-bottom: 15px;
}


#variable-value-container p {
    color: #000000;
    margin-right: 10px;
}


#variable-value {
    font-family: opensans-bold, serif;
    color: #1f70f2;
}

#variable-value-assign-box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#distance-input-case {
    display: flex;
    align-items: center;
}

#distance-text {
    font-family: opensans-semibold, sans-serif;
    font-size: 20px;
    margin: 0;
}

#distance-input {
    font-family: opensans-regular, sans-serif;
    font-size: 16px;
    border: 2px solid #000000;
    border-radius: 13px;
    width: 65px;
    box-shadow: 3px 3px 0 rgba(00, 00, 00, 100%);
    margin: 0 8px;
}

#submit-distance {
    font-family: corbel-bold, sans-serif;
    font-size: 16px;
    color: #ffffff;
    background-color: #1f70f2;
    border: 2px solid #000000;
    border-radius: 13px;
    width: 6.5em;
    height: 1.9em;
    box-shadow: 3px 3px 0 rgba(00, 00, 00, 100%);
    transition: all 150ms ease;
}

#submit-distance:hover {
    background-color: #5498ff;
}
