:root {
    --card-width: 180px;
    --card-height: 100px;
    --part1-width: calc(3 * var(--card-width) + 40px);
    --part1-height: calc(2 * var(--card-height) + 20px);
}

#control-panel-container {
    font-family: corbel, sans-serif;
    position: relative;
    display: flex;
    /*
    background-color: #eeeeee;
    border: 6px solid #d9d9d9;
     */
    border-radius: 42px;
    box-shadow:
            0 0 35px rgba(175, 175, 175, 20%),
            inset 0 0 15px rgba(175, 175, 175, 15%);
    margin-top: 35px;
    width: 1000px;
    height: calc(var(--part1-height) + 44px);
}

.control-panel {
    position: absolute;
}

#control-buttons {
    top: 22px;
    width: var(--part1-width);
    height: var(--part1-height);
}

.cards {
    position: absolute;
    width: var(--card-width);
    height: var(--card-height);
    border-radius: 12px;
    /* background-color: aliceblue; */
}


.cards:nth-child(1) {
    top: calc(var(--card-height) / 2 + 10px);
}

.cards:nth-child(2) {
    left: calc(2 * var(--card-width) + 40px);
    top: calc(var(--card-height) / 2 + 10px);
}

.cards:nth-child(3) {
    left: calc(var(--card-width) + 20px);
}

.cards:nth-child(4) {
    left: calc(var(--card-width) + 20px);
    top: calc(var(--card-height) + 20px);
}


.functions {
    position: absolute;
    width: 150px;
    height: 50px;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 12px;
    border: 3px solid black;
    background-color: white;
}

.function-input-field {
    font-family: corbel, sans-serif;
    width: 24px;
    text-align: center;
    border-radius: 8px;
    border-style: none;
    border-left-style: solid;
    border-right-style: solid;
    border-color: black;
}


.run-button {
    font-family: corbel-bold, sans-serif;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 16px);
    background-color: #58be6a;
    width: 46px;
    height: 32px;
    border: none;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
}

/*
.run-button {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 16px);
    background-color: hsl(158 95% 40%);
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.run-symbol {
    position: absolute;
    left: 54%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: 22px solid white;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    pointer-events: none;
}
*/

#variable-container {
    right: 26px;
    top: 22px;
    width: 320px;
    height: var(--part1-height);
    background-color: lightgray;
    border-radius: 12px;
}
