:root {
    font-family: corbel, sans-serif;
    background-color: #ffffff;
    --signature-color: #000000;
    --transition-time-header-buttons: 200ms;
}

@font-face {
    font-family: corbel;
    src: url('../assets/fonts/corbel.ttf') format('woff');
}

@font-face {
    font-family: corbel-bold;
    src: url('../assets/fonts/corbel-bold.ttf') format('woff');
}

@font-face {
    font-family: dDicapslock;
    src: url('../assets/fonts/dDicapslock.ttf') format('woff');
}

@font-face {
    font-family: klavika;
    src: url('../assets/fonts/klavika.otf') format('woff');
}

@font-face {
    font-family: klavika-medium;
    src: url('../assets/fonts/klavika-medium.otf') format('woff');
}

@font-face {
    font-family: klavika-bold;
    src: url('../assets/fonts/klavika-bold.otf') format('woff');
}

@font-face {
    font-family: selectric-century;
    src: url('../assets/fonts/selectric-century.ttf') format('woff');
}

@font-face {
    font-family: opensans-regular;
    src: url('../assets/fonts/opensans-regular.ttf') format('woff');
}

@font-face {
    font-family: opensans-medium;
    src: url('../assets/fonts/opensans-medium.ttf') format('woff');
}

@font-face {
    font-family: opensans-semibold;
    src: url('../assets/fonts/opensans-semibold.ttf') format('woff');
}

@font-face {
    font-family: opensans-bold;
    src: url('../assets/fonts/opensans-bold.ttf') format('woff');
}

@font-face {
    font-family: besley;
    src: url('../assets/fonts/besley.ttf') format('woff');
}

@font-face {
    font-family: calibri;
    src: url('../assets/fonts/calibri.ttf') format('woff');
}

@font-face {
    font-family: calibri-bold;
    src: url('../assets/fonts/calibri-bold.ttf') format('woff');
}

.dot {
    color: #1f70f2;
}

h1 {
    font-family: klavika-bold, serif;
    color: var(--signature-color);
    font-size: 42px;
}

#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
}

#header > div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
}

#header > div > button {
    margin-right: 10px;
}

#header button {
    cursor: pointer;
}

#logo {
    background-color: transparent;
    border: none;
}

#logo p {
    font-family: dDicapslock, sans-serif;
    font-size: 38px;
    color: rgb(0, 0, 0);
    margin: 0;
}

.right-nav-buttons {
    font-family: corbel-bold, sans-serif;
    font-size: 22px;
    border-radius: 40px;
    box-sizing: border-box;
    padding: 3px 15px;
}

#go-back {
    background-color: #cb5555;
    border: 3px solid #cb5555;
    transition: all var(--transition-time-header-buttons) ease;
}

#go-back:hover {
    background-color: #b43a3a;
    border: 3px solid #b43a3a;
}

#go-back p {
    color: #ffffff;
    transition: opacity var(--transition-time-header-buttons) ease;
    margin: 7px;
}

#go-back:hover p {

}

#home-button {
    background-color: transparent;
    border: 3px solid #cecece;
    transition: border var(--transition-time-header-buttons) ease;
}

#home-button:hover {
    border-color: black;
}

#home-button p {
    color: #000000;
    opacity: 60%;
    transition: opacity var(--transition-time-header-buttons) ease;
    margin: 7px;
}

#home-button:hover p {
    opacity: 100%;
}

#go-back {
    visibility: hidden;
}

#go-back.show-go-back {
    visibility: visible !important;
}
