:root {
    font-family: klavika, sans-serif;
    background-color: #ffffff;
    --transition-time-header-buttons: 300ms;
    --signature-color: #1f70f2;
}

@font-face {
    font-family: corbel;
    src: url('../assets/fonts/corbel.ttf') format('woff');
}

@font-face {
    font-family: corbel-bold;
    src: url('../assets/fonts/corbel-bold.ttf') format('woff');
}

@font-face {
    font-family: dDicapslock;
    src: url('../assets/fonts/dDicapslock.ttf') format('woff');
}

@font-face {
    font-family: klavika;
    src: url('../assets/fonts/klavika.otf') format('woff');
}

@font-face {
    font-family: klavika-medium;
    src: url('../assets/fonts/klavika-medium.otf') format('woff');
}

@font-face {
    font-family: klavika-bold;
    src: url('../assets/fonts/klavika-bold.otf') format('woff');
}

h1 {
    font-family: klavika-bold, sans-serif;
    color: var(--signature-color);
    font-size: 42px;
}

#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

#header button {
    cursor: pointer;
}

#logo {
    background-color: transparent;
    border: none;
}

#logo p {
    font-family: dDicapslock, sans-serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

.buttons {
    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 40px;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 15px;
    transition: border var(--transition-time-header-buttons) ease;
}

.buttons:hover {
    border-color: black;
}

.buttons p {
    font-family: corbel-bold, sans-serif;
    font-size: 25px;
    color: #000000;
    opacity: 60%;
    transition: opacity var(--transition-time-header-buttons) ease;
    margin: 7px;
}

.buttons:hover p {
    opacity: 100%;
}

