@font-face {
    font-family: corbel;
    src: url('../assets/fonts/corbel.ttf') format('woff');
}

@font-face {
    font-family: dDicapslock;
    src: url('../assets/fonts/dDicapslock.ttf') format('woff');
}

@font-face {
    font-family: klavika;
    src: url('../assets/fonts/klavika.otf') format('woff');
}

@font-face {
    font-family: klavika-bold;
    src: url('../assets/fonts/klavika-bold.otf') format('woff');
}

:root {
    font-family: klavika, sans-serif;
    background-color: #ffffff;
    overflow: hidden;
}

h1 {
    font-family: klavika-bold, sans-serif;
    color: #1f70f2;
    font-size: 42px;
}

#header {
    display: flex;
    align-items: center;
    height: 130px;
    margin: -8px;
}

#header p {
    font-family: dDicapslock, sans-serif;
    font-weight: 450;
    font-size: 40px;
    color: rgb(0, 0, 0);
    margin: 0 0 0 250px;
}

#header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
