:root {
    --heading-font-family: opensans-bold, sans-serif;
    --heading-font-size: 82px;
    --subtext-font-family: corbel, sans-serif;
    --subtext-font-size: 36px;
    --text-margin: 15px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 200%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
    margin: 8% auto;
    padding: 20px;
    background-color: #ffffff;
    border: 4px solid #000000;
    border-radius: 32px;
    box-shadow: 0 0 520px rgba(0, 0, 0, 0.6);
    width: 1050px;
    height: 600px;
}

#win-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%
}

#win-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#win-heading {
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size);
    color: #46a959;
    margin: var(--text-margin);
}

#win-subtext {
    font-family: var(--subtext-font-family);
    font-size: var(--subtext-font-size);
    margin: var(--text-margin);
}

#lose-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#lose-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}



#lose-heading {
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size);
    color: #1f70f2;
    margin: var(--text-margin);
}

#lose-subtext {
    font-family: var(--subtext-font-family);
    font-size: var(--subtext-font-size);
    margin: var(--text-margin);
}


#info-content {
    display: flex;
    justify-content: space-between;
    margin: 32px;
    height: 100%;
}

#tile-description-div {
    width: 33%;
}

#tile-description-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    border: 4px solid #a6a6a6;
    border-radius: 26px;
    width: 250px;
    height: 90%;
}

.cell-modal {
    margin: 10px 10px;
    border: 4px solid #444444;
}

.cell-name {
    font-family: corbel-bold, sans-serif;
    font-size: 20px
}

#info-text-container {
    margin: 0 -20px 0 0;
    width: 72%;
}

#info-mission-description {
    margin: 0 0 90px 0;
}

#info-theory-container {

}

.info-text {

}

.info-header {
    font-family: corbel-bold, serif;
    font-weight: bold;
    font-size: 40px;
    color: #000000;
    margin: 8px 0;
}

.hint {
    width: 550px;
    margin-top: 40px;
    background-color: #f4f4f4;
    border: 4px solid #a6a6a6;
    border-radius: 26px;
}

.hint p {
    font-family: corbel, sans-serif;
    font-size: 32px;
    margin-top: 70px;
}

.run-big {
    font-family: corbel-bold, sans-serif;
    font-size: 24px;
    color: #ffffff;
    background-color: #58be6a;
    padding: 1px 8px;
    border-radius: 12px;
    border: 3px solid #000000;
    box-shadow: 3px 3px 0 rgba(00,00,00,100%);
}

#hint-image {
    width: 500px;
    height: auto;
}

.info-subtext {
    font-family: corbel, sans-serif;
    font-size: 24px;
    margin: 8px 0;
}

.skip-button-modal-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.skip-button-modal {
    font-family: corbel-bold, sans-serif;
    font-size: 32px;
    color: #000000;
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 5px;
    box-shadow: 5px 5px 0 rgba(00, 00, 00, 100%);
    width: 6em;
    height: 2em;
    cursor: pointer;
    transition: all 240ms ease;
    margin: 5px;
}

.skip-button-modal:hover {
    background-color: #e7e7e7;
}

.close-button {
    float: right;
    font-size: 28px;
    color: #ffffff;
    background-color: #cb5555;
    border: 2px solid #000000;
    box-shadow: 3px 3px 0 rgba(00, 00, 00, 100%);
    border-radius: 100%;
    width: 1.3em;
    height: 1.3em;
    font-weight: bold;
    transition: all 150ms ease;
}

.close-button:hover {
    background-color: #b43a3a;
    cursor: pointer;
}

.white-space {
    font-size: 7px;
}

.green {
    font-family: opensans-semibold, sans-serif;
    font-size: 22px;
    color: #208834;
}

.blue {
    font-family: opensans-semibold, sans-serif;
    font-size: 22px;
    color: #1f70f2;
}

.grey {
    font-family: opensans-semibold, sans-serif;
    font-size: 22px;
    color: #6b6b6b;
}

.black {
    font-family: opensans-semibold, sans-serif;
    font-size: 22px;
    color: #000000;
}

.bold {
    font-weight: bold;
}

.run {
    font-family: corbel-bold, sans-serif;
    font-size: 18px;
    color: #ffffff;
    background-color: #58be6a;
    padding: 1px 8px;
    border-radius: 8px;
    border: 2px solid #000000;
    box-shadow: 2px 2px 0 rgba(00,00,00,100%);
}

.move-function {
    font-family: opensans-semibold, sans-serif;
    font-size: 17px;
    padding: 1px 8px;
    border: 2px solid #000000;
    border-radius: 8px;
}