:root {
    --cell-size: 58px;
    --gap: 2px;
}

#levels {
    font-size: 25px;
    font-weight: bold;
}

#game-container {
    display: flex;
    margin-top: 10px;
    align-items: flex-start; 
    max-width: 1000px; /* Limit width of the game Might need to be changed since its not responsive*/
}

#grid {
    display: grid;
    grid-template-columns: repeat(var(--y), var(--cell-size));
    grid-template-rows: repeat(var(--x), var(--cell-size));
    gap: var(--gap);
    background-color: #545454;
    outline: 7px solid #545454;
}

#editor-container {
    display: grid;
    grid-template-columns: repeat(var(--g), var(--cell-size));
    gap: var(--gap);
    background-color: #444;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: #171717;
    position: relative;
}


.wall {
    background-color: #a6a6a6;
}

.door {
    background-color: purple;
}

.key {
    background-color: yellow;
}

.goal {
    background-color: #58be6a;
}

.player {
    background-color: #1f70f2;
}
