:root {
    --cell-size: 58px;
    --gap: 2px;
}

#levels {
    font-size: 25px;
    font-weight: bold;
}

#game-container {
    display: flex;
    /* justify-content: center; */
    margin-top: 20px;
    width: 100%;
    align-items: flex-start; 
}

#grid {
    display: grid;
    grid-template-columns: repeat(var(--y), var(--cell-size));
    grid-template-rows: repeat(var(--x), var(--cell-size));
    gap: var(--gap);
    background-color: #444;
    outline: 5px solid #444;
}

#editor-container {
    display: grid;
    grid-template-columns: repeat(var(--g), var(--cell-size));
    gap: var(--gap);
    background-color: #444;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: #000;
    position: relative;
}


.wall {
    background-color: grey;
}

.door {
    background-color: purple;
}

.key {
    background-color: yellow;
}

.goal {
    background-color: green;
}

.player {
    background-color: blue;
}
