:root {
    --transition-time-launch: 500ms;
    --transition-time-skip-buttons: 150ms;
}

#main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

#top {
    display: flex;
    margin-bottom: 20px;
}

#mission-container {
    display: flex;
    background-color: transparent;
    border-radius: 20px;
    margin-bottom: -20px;
}

#mission-box {
    width: 550px;
    padding: 0 0 -20px 20px;
}

#mission {
    font-family: klavika-bold, sans-serif;
    color: var(--signature-color);
    font-size: 48px;
    margin-top: 10px;
}

#mission-description {
    font-family: corbel, sans-serif;
    font-size: 26px;
    color: rgb(0, 0, 0);
    margin-top: -30px;
}


#skip-button-container {
    margin: 10px 10px 0 0;
}

.skip-buttons {
    font-family: corbel-bold, sans-serif;
    font-size: 20px;
    color: #ffffff;
    background-color: #58be6a;
    border: none;
    border-radius: 100%;
    margin: 0 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: all var(--transition-time-skip-buttons) ease;
}

.skip-buttons:hover {
    transform: scale(1);
    background-color: #7dd28c;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
    border: 3px solid #000000;
    border-radius: 5px;
    box-shadow: 8px 8px 0 rgba(00, 00, 00, 100%);
    padding: 0 16px 16px 16px;
}

#info-modal-button {
    width: 100%;
}

#info-modal-button button {
    font-family: klavika, sans-serif;
    font-size: 20px;
    color: #000000;
    float: left;
}

#turn-counter-container p {
    font-family: klavika-medium, sans-serif;
    font-size: 28px;
    color: #b43a3a;
    margin-top: 2vh;
}

.hidden {
    opacity: 0;
    transition: all 600ms ease;
}

.show {
    opacity: 1;
    filter: blur(0);
}

#theory-container{
    background-color: white;
    flex: 1 1 auto;
    border-radius: 5px;
    padding: 0 16px 0 16px;
    margin: -10px 0 -10px 30px;
    align-self: stretch;
}


#theory-header{
    font-family: klavika-bold, sans-serif;
    color: var(--signature-color);
    font-size: 28px;
    margin-top: 15px;
}

#theory-body{
    font-family: corbel, sans-serif;
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-top: -15px;
}