:root {
    --animation-fade-time: 700ms;
    --transition-time-launch: 500ms;
    --transition-time-skip-buttons: 150ms;
}

#main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

#top {
    display: flex;
    margin-bottom: 20px;
}

#mission-container {
    display: flex;
    background-color: transparent;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: -30px;
}

#mission-box {
    padding: 0 0 -20px 20px;
}

#mission {
    font-family: calibri, serif;
    font-weight: bold;
    color: #000000;
    font-size: 48px;
    margin: 10px;
}

#skip-button-container {
    margin: 21px 0 0 20px;
}

.skip-buttons {
    font-family: corbel-bold, sans-serif;
    font-size: 20px;
    color: #ffffff;
    background-color: #1f70f2;
    border: 2px solid #000000;
    border-radius: 100%;
    margin: 0 6px;
    width: 32px;
    height: 32px;
    box-shadow: 3px 3px 0 rgba(00, 00, 00, 100%);
    cursor: pointer;
    transition: all var(--transition-time-skip-buttons) ease;
}

.skip-buttons:hover {
    transform: scale(1);
    background-color: #5498ff;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: 4px solid #000000;
    border-radius: 32px;
    box-shadow: 8px 8px 0 rgba(00, 00, 00, 100%);
    padding: 0 0 24px 20px;
}

#info-modal-button-div {
    width: 100%;
}

#info-modal-button-div button {
    float: left;
}

#info-modal-button {
    font-family: corbel-bold, sans-serif;
    font-size: 25px;
    color: #000000;
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 5px;
    box-shadow: 5px 5px 0 rgba(00, 00, 00, 100%);
    width: 4em;
    height: 2em;
    margin: 40px 0 0 10px;
    transition: all 200ms ease;
}

#info-modal-button:hover {
    background-color: #e7e7e7;
    cursor: pointer;
}

#turn-counter-container {
    margin-top: -145px;
    margin-bottom: -15px;
}

#turn-counter-container p {
    font-family: calibri-bold, serif;
    font-weight: bold;
    font-size: 32px;
    color: #000000;
    margin-top: 2vh;
}

.minimize {
    font-size: 30px !important;
    opacity: 85%;
}

.hidden {
    opacity: 0;
    transition: all var(--animation-fade-time) ease;
}

.show {
    opacity: 1;
    filter: blur(0);
}

#theory-container{
    background-color: white;
    flex: 1 1 auto;
    border-radius: 5px;
    padding: 0 16px 0 16px;
    margin: -10px 0 -10px 30px;
    align-self: stretch;
}


#theory-header{
    font-family: klavika-bold, sans-serif;
    color: var(--signature-color);
    font-size: 28px;
    margin-top: 15px;
}

#theory-body{
    font-family: corbel, sans-serif;
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-top: -15px;
}


@keyframes game-fade-out-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.game-fade-out {
    animation: game-fade-out-animation var(--animation-fade-time) ease;
}