

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: lightgray;
}

#game-container {
    display: inline-block;
    margin-top: 20px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(var(--y), 50px); 
    grid-template-rows: repeat(var(--x), 50px);    
    gap: 1px;
    background-color: #444;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: #000;
    position: relative;
}

.player {
    background-color: blue;
} 

.wall{
    background-color: grey;
}

.door{
    background-color: purple; 
}

.key{
    background-color: yellow;
}

.goal{
    background-color: green;
}

/* Mission Description */
.missionBorder{
    display: block;
    outline: 3px solid black;
    background-color: rgb(224, 224, 224);
    width: 550px;
    min-height: 100px;
    min-width: 500px;
    margin: auto;
}
.missionDescription{
    text-align: left;
    padding-left: 10px; /* Default padding */
}

.missionDescription h2{ /* Ensures that start text has distance from the top */
    padding-top: 10px;
}

.missionDescription p{
    padding-left: 8px;
    color: rgb(46, 46, 46);
}