:root{
    /* controlpanel */
    --controlpanel-card-width: 220px;
    --controlpanel-card-height: 144px;
    --controlpanel-card-left: 26px;
    --controlpanel-card-top: 22px;
    --controlpanel-card-gapX: 26px;
    --controlpanel-card-gapY: 30px;
    --controlpanel-card-maxAmountX: 2;
    --controlpanel-card-maxAmountY: 2;
    --controlpanel-width: calc( 2 * var(--controlpanel-card-left) + var(--controlpanel-card-maxAmountX) * var(--controlpanel-card-width) + ( var(--controlpanel-card-maxAmountX) - 1 ) * var(--controlpanel-card-gapX) );
    --controlpanel-height: calc( 2 * var(--controlpanel-card-top) + var(--controlpanel-card-maxAmountY) * var(--controlpanel-card-height) + (var(--controlpanel-card-maxAmountY) - 1) * var(--controlpanel-card-gapY) );
}

body {
    font-family: Arial, sans-serif;
    color: black;
    text-align: center;
    background-color: lightgray;
}

#level-selector {
    font-size: 25px;
    font-weight: bold;
}

#game-container {
    display: inline-block;
    margin-top: 20px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(var(--y), 50px); 
    grid-template-rows: repeat(var(--x), 50px);    
    gap: 1px;
    background-color: #444;
}

#editor-container{
    display: grid;
    grid-template-columns: repeat(var(--g), 50px);   
    gap: 1px;
    background-color: #444;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: #000;
    position: relative;
}

.player {
    background-color: blue;
} 

.wall{
    background-color: grey;
}

.door{
    background-color: purple; 
}

.key{
    background-color: yellow;
}

.goal{
    background-color: green;
}

.controlpanel {
    position: relative;
    display: flex;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: var(--controlpanel-width);
    height: var(--controlpanel-height);
    border-radius: 24px;
    background-color: white;
} 

.controlpanel-card {
    position: absolute; 
    width: var(--controlpanel-card-width);
    height: var(--controlpanel-card-height);
    left: var(--controlpanel-card-left);
    top: var(--controlpanel-card-top);
    border-radius: 12px;
    background-color: aliceblue;
}

#controlpanel-card1 {
    
}

#controlpanel-card2 {
    left: calc( var(--controlpanel-card-left) + var(--controlpanel-card-width) + var(--controlpanel-card-gapX) );
}

#controlpanel-card3 {
    top: calc( var(--controlpanel-card-top) + var(--controlpanel-card-height) + var(--controlpanel-card-gapY) );
}

#controlpanel-card4 {
    left: calc( var(--controlpanel-card-left) + var(--controlpanel-card-width) + var(--controlpanel-card-gapX) );
    top: calc( var(--controlpanel-card-top) + var(--controlpanel-card-height) + var(--controlpanel-card-gapY) );
}

#controlpanel-card5 {
    left: calc( var(--controlpanel-card-left) + 2*var(--controlpanel-card-width) + 2*var(--controlpanel-card-gapX) );
}

#controlpanel-card6 {
    left: calc( var(--controlpanel-card-left) + 2*var(--controlpanel-card-width) + 2*var(--controlpanel-card-gapX) );
    top: calc( var(--controlpanel-card-top) + var(--controlpanel-card-height) + var(--controlpanel-card-gapY) );
}

.controlpanel-item {
    position: absolute;
    width: 150px;
    height: 50px;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 12px;
    border: 3px solid black;
    background-color: white;
}

.item-input {
    width: 24px;
    text-align: center;
    border-radius: 8px;
    border-style: none;
    border-left-style: solid;
    border-right-style: solid;
    border-color: black;
    
}

.run-button {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 16px);
    background-color: hsl(158 95% 40%);
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.run-symbol {
    position: absolute;
    left: 54%;
    top: 50%;
    transform: translate(-50%, -50%);
	width: 0;
	height: 0;
    border-left: 22px solid white;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    pointer-events: none;
}



/* Mission Description */
.missionBorder{
    position: relative;
    display: block;
    margin: auto;
    width: 550px;
    height: auto;
    min-height: 100px;
    min-width: 500px;
    border-radius: 24px;
    background-color: white;
}
.missionDescription{
    text-align: left;
    padding-left: 18px; /* Default padding */
    padding-bottom: 10px;
}

.missionDescription h2{ /* Ensures that start text has distance from the top */
    padding-top: 10px;
}

.missionDescription p{
    color: rgb(46, 46, 46);
}